@import url('https://fonts.googleapis.com/css?family=Catamaran:400,100,300');

/* General global */
html, body {
    font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    background-color: #eee;
    text-align: left;
}

.container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-big {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0;
}

.header-small {
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px 0;
}

/* General */

/* Navbars */
.navbar {
    position: relative;
    min-height: 50px;
    background-color: #0b102b;
}

.nav {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav > li:last-of-type {
    margin-left: auto;
    position: relative;
}
.nav > li:last-of-type span{
    position: absolute;
    top:33%;
    left:50%;
    transform: translate(-50%);
}

.nav > li > a {
    font-size: 16px;
    font-weight: 100;
    padding: 15px 35px;
    color: #fff;
    display: block;
    text-decoration: none;
}
#Capa_1{
    width: 100%;
    max-width: 40px;
    fill: #fff;
}
/* Navbars */

/* Footer */
footer {
    margin-top: 60px;
    width: 100%;
    background-color: #fff;
    text-align: right;
    padding: 5px 0;
}

/* Footer */


/* Products */
.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 25%;
    background: white;
    margin: 1%;
    text-align: center;
    flex: 1 0 23%;
}

.product img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.product p.price {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #00a1b4;
    padding: 3px 0px;
}

.product a{
    text-decoration: none;
    color: #0b102b;
    transition: 0.3s all;
}
.product a:hover{
    color: #00a1b4;
}
/* Products */


/* Catalog */
.catalog {
    display: flex;
}

.filter {
    background-color: #f7f7f7;
    padding: 5px 15px 20px;
    margin-top: 5px;
    margin-right: 10px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header .clear {
    color: #00a1b4;
    text-decoration: none;
    font-size: 13px;
}

.column-left {
    width: 25%;
}

.column-right {
    width: 75%;
}
.product .button {
    padding-bottom: 10px;
    text-align: center;
}
.product .button a{
    display: inline-block;
    padding: 7px 0;
    background: #00a1b4;
    transition: 0.3s all;
    text-align: center;
    max-width: 140px;
    width: 100%;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}
.product .button a:hover{
    background: #0b102b;
}
/* Catalog */

/* SingleProductPage */
.row{
    display: flex;
}
.half{
    width: 50%;
    padding:0 20px;
}
.half img{
    max-width: 100%;
}

/* SingleProductPage */

/* Basket */
.row{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #0b102b;
    padding:10px 0 15px;
    align-items: center;
}
.basket_images{
    width: 20%;
    padding: 0 10px;
}
.basket_images img{
    max-width: 100%;
}
.basket_name{
    font-size: 1.3rem;
    width: 40%;
    padding: 0 10px;

}
.basket_price{
    font-size: 1.3rem;
    width: 30%;
    padding: 0 10px;
}
.basket_del{
    width: 10%;
    padding: 0 10px;
    margin-left: auto;
}
.basket_del a{
    cursor: pointer;
}
.basket_del #Capa_1{
    fill: red;
}
/* Basket */